.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #159CDB;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #159CDB;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #159CDB;
}

.tabla-login {
    border-collapse: collapse;
    margin: 5px 20;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabla-login thead tr {
    background-color: #159CDB;
    color: #159CDB;
    text-align: center;
}
.tabla-login th,
.tabla-login td {
    padding: 12px 15px;
}
.tabla-login tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla-login tbody tr:nth-of-type(even) {
    background-color: #0C709E;
}

.tabla-login tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

thead tr {
    background-color: #0C709E;
    color: #159CDB;
    text-align: left;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #0C709E;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}

body {
  
  background-image: url("donation1.jpeg");
  background-image: width 70% ;
  
}
section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}
/**h1{margin:0px auto; display:table; font-size:26px; padding:5px 0px; color:#EEF2F4; text-align:center;}**/
h1 span{font-weight:500;}
h3{margin:0px auto; display:table; font-size:22px; padding:5px 0px; color:#EEF2F4; text-align:center}



header{width:100%; display:table; background-color:#0C709E; margin-bottom:50px;}
#logo{float:left; font-size:24px; text-transform:uppercase; color:#0C709E; font-weight:600; padding:15px 0px;}
nav{width:auto; float:right;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#A9C2CD; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#002e5b; color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a i{padding-right:10px; color:#002e5b; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:20px; padding: 10px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

input{
	
	width: 80%;
	padding: 10px 20px;
	margin: 10px 0;
	box-sizing: border-box;
	color:#159CDB;
}

form{
	padding:5px 20px;
	margin: 20px 0;
	font-size:18px;
	color:#159CDB;
	border-bottom:1px solid #fde428;
}

.boton1{
	width: 30%;
	color:#159CDB;
	font-size:16px;
	cursor: pointer;
	opacity: 0.8;
	background-color: #fde428;
}
.boton1:hover {
  opacity: 1;
}

.boton2{
	width: 40%;
	color:#159CDB;
	font-size:14px;
	cursor: pointer;
	opacity: 0.8;
	background-color: #EAECEE;
}
.boton2:hover {
  opacity: 1;
}

button{
	width: 10%;
	color:#159CDB;
	font-size:18px;
	cursor: pointer;
	opacity: 0.8;
	background-color: #fde428;
	padding: 10px 10px;
  	margin: 8px 0;
}
button:hover {
  opacity: 1;
}


.content{display:table; margin-bottom:60px; width:900px;}
.content h2{font-size:18px; font-weight:500; color:#002e5b; border-bottom:1px solid #fde428; display:table; padding-bottom:10px; margin-bottom:10px;}
.content p{font-size:14px; line-height:22px; color:#7c7c7c; text-align:justify;}

footer{display:table; padding-bottom:30px; width:100%;}
.social{margin:0px auto; display:table; display:table;}
.social li{float:left; padding:0px 10px;}
.social li a{color:#002e5b; transition: all 0.5s ease 0s;}
.social li a:hover{color:#fde428; transition: all 0.5s ease 0s;}

@media only screen and (max-width: 1440px) {
section{max-width:95%;}
}

@media only screen and (max-width: 980px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }
input[type=checkbox]:checked ~ nav {display:block;}

nav{display:none; position:absolute; right:0px; top:53px; background-color:#002e5b; padding:0px; z-index:99;}
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#fde428; padding-right:13px;}
}

@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

@media only screen and (max-width: 360px) {
h1{font-size:20px;}
label{padding:5px 0px;}
#logo{font-size: 20px;}
nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}
}